html {
    font-size: large;
}
body {
    background-image: url(../img/bg.jpg);
    background-size: 420px;
}
main {
    padding-top: 45px;
    margin: 0 auto;
    min-width: 320px;
    max-width: 600px;
}
.wrapper {
    background-color: #c8c8c8;

    /*max-width: 800px;*/
    padding: 15px;
    border-radius: 0 0 10px 10px;
    /*height: 400px;*/
}
.header {
    background-color: #007aff;
    color: white;
    font-weight: bold;
    display: block;
    text-align: center;
    padding-top: 5px;
    border-radius: 10px 10px 0 0;
    height: 35px;
}
.input-group {
    margin-bottom:20px;
}
i {
    width: 20px;
}
